.coming-soon-hero{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(45deg, rgba(0,0,0,.35), rgba(118,0,255,.35)), url(../../assets/soon2.jpg);
    background-position: center;
    background-size: cover;
    padding: 1rem 8%;
    text-align: center;
    color: var(--white);
}
.coming-soon-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.coming-soon-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5rem;
    height: 5rem;
}
.coming-soon-logo svg{
    width: 100%;
    height: 100%;
}
.coming-soon-btn{
    background: linear-gradient(#6a33ff, #351a80);
    border: 1px solid #6a33ff;
    color: var(--white);
    font-size: 1.6rem;
    padding: 1.5rem 2.5rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: .5s;
}
.coming-soon-btn:hover{
    background: transparent;
    color: #6a33ff;
}
.coming-soon-content{
    margin: 14% auto 0;
}
.coming-soon-content small{
    font-size: 2.2rem;
}
.coming-soon-content h1{
    margin-top: 1rem;
    font-size: 5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.coming-soon-content h1 span{
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    line-height: .7rem;
    letter-spacing: .1rem;
    animation: glow 1000ms infinite alternate;
}
@keyframes glow {
    from {
        text-shadow: 0 0 10px #1877f2,
                     0 0 20px #1459b3,
                     0 0 30px #231fbf;
                    
    }
    to{
        text-shadow: 0 0 5px #1877f2,
                     0 0 10px #1459b3,
                     0 0 15px #231fbf;
    }
}
.coming-soon-form{
    width: 90%;
    max-width: 60rem;
    height: 6.5rem;
    background-color: var(--white);
    margin: 4rem auto 2rem;
    display: flex;
    align-items: center;
    border-radius: 4rem;
}
.coming-soon-form input{
    flex: 1;
    padding: 2rem 3rem;
    font-size: 1.6rem;
    background: transparent;
}
.coming-soon-form input::placeholder{
    font-size: 1.6rem;
}
.coming-soon-form .coming-soon-btn{
    padding: 0;
    width: 15rem;
    height: 6.5rem;
    border-radius: 3.1rem;
}
.coming-soon-links{
    margin-top: 14%;
}
.coming-soon-links a{
    margin: 1rem;
}
.coming-soon-links a svg{
    width: 5rem;
    height: 3rem;
    color: var(--white);
    transition: var(--transition);
}
.coming-soon-links a svg:hover{
    transform: translateY(-.5rem);
}