.preview-post-wrapper{
    position: relative;
}
.preview-post-header{
    margin: 1rem 0;
}
.preview-post-main{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.preview-post-main-title{
    color: var(--black);
    font-size: 1.5rem;
    margin: 2rem;
}
.preview-post-main-body{
    position: relative;
}
.preview-post-main-body-header{

}
.preview-post-main-body-image-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.preview-post-main-body-main-image{
    height: 30rem;
    border-radius: .3rem;
}
.preview-post-main-body-main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .3rem;
}
.preview-sub-image-swiper-container{
    width: 100%;
    max-width: 50rem;
}
.preview-post-main-body-sub-image-wrap{
    /* change the slider numbers to correspond to the css width */
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-post-swiper-sub-image-settings{
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-post-swiper-sub-image-main-content{
    border: 1px solid var(--light-grey);
    border-radius: .3rem;
    padding: .2rem;
    width: 8rem;
    height: 8rem;
}
.preview-post-swiper-sub-image-main-content img{
    width: 100%;
    height: 100%;
    border-radius: .3rem;
    object-fit: cover;
}
.preview-post-swiper-button{
    color: var(--primary-color);
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    transition: var(--transition);
}
.preview-post-swiper-button::before,
.preview-post-swiper-button::after{
    font-size: 1.5rem;
    font-weight: bolder;
    padding: .5rem;
}
.preview-post-swiper-button.swiper-button-next{
    right: -1rem;
}
.preview-post-swiper-button.swiper-button-prev{
    left: -1rem;
}
.preview-post-swiper-button.swiper-button-prev.swiper-button-disabled,
.preview-post-swiper-button.swiper-button-next.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}
.preview-post-swiper-button.swiper-button-prev.swiper-button-disabled{
    transform: translateX(-5rem);
}
.preview-post-swiper-button.swiper-button-next.swiper-button-disabled{
    transform: translateX(5rem);
}
.swiper-pagination-bullet{
    background-color: red;
}
.swiper-pagination-bullet-active{
    background-color: blueviolet;
}
.sub-post-gallery-img-wrapper{
    height: 8rem;
    width: 8rem;
    border: 1px solid var(--light-grey);
    padding: .2rem;
    border-radius: .3rem;
    cursor: pointer;
}
.sub-post-gallery-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 41-105 */
.preview-post-main-body-details{
    margin: 2rem;
}
.preview-post-main-body-sub-details{
    position: relative;
}
.preview-post-main-body-details-title{
    font-size: 1.4rem;
}
.preview-post-main-body-details-title h3{
    font-weight: 600;
}
.preview-post-main-body-details-body{
    font-size: 1.2rem;
}
.preview-post-main-body-details-body a{
    display: flex;
    flex-direction: column;
    transition: var(--transition);
}
.preview-post-main-body-details-body a:hover{
    color: var(--primary-color);
}

/* media queries */
@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 992px){
    .sub-post-gallery-detail{
        grid-auto-columns: 50%;
    }   
}

@media screen and (max-width: 768px){
    .sub-post-gallery-detail{
        grid-auto-columns: 70%;
    }
}

@media screen and (max-width: 430px){
    .sub-post-gallery-detail{
        grid-auto-columns: 100%;
    }
    .sub-post-gallery-img-wrapper{
        height: 5rem;
    }
    .sub-post-gallery-img-wrapper img{
        width: 5rem;
    }
}

@media screen and (max-width: 320px){
    
}