.search-form-container{

}
.search-form-wrapper{
    position: relative;
}
.search-form-input-wrapper {
    display: flex;
    align-items: center;
    border-radius: .3rem;
    border: 1px solid var(--light-grey);
    height: 2.8rem;
    background-color: var(--body-background-color);
    transition: var(--transition);
}
.search-form-input-wrapper input {
    width: 100%;
    height: 100%;
    border-radius: .3rem;
    font-size: 1.1rem;
    padding: 0 1rem;
}
.search-form-input-wrapper:focus-within {
    background-color: var(--white); /* Change to the desired background color */
}
.search-form-input-wrapper .search-form-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border-radius: .3rem;
}
.search-form-btn svg{
    width: 100%;
    height: 100%;
    color: var(--body-color);
}
.search-form-result{
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    border-radius: .3rem;
    margin-top: .2rem;
}
.search-form-result ul{
    padding: .5rem 1rem;
}
.search-form-result ul li{
    padding: 1rem .5rem;
}
.search-form-result ul li:hover{
    background-color: var(--lighter-primary-color);
}

/* media queries */
@media screen and (max-width: 1024px){
    
}

@media screen and (max-width: 992px){
    
}

@media screen and (max-width: 768px){
    
}

@media screen and (max-width: 430px){
    
}

@media screen and (max-width: 320px){
    
}